@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Inter', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #17fff2 1.84%, #5e5dff 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #17fff2 -13.86%, #5e5dff 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
}
