@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Inter', sans-serif;

  --gradient-text: linear-gradient(89deg, rgba(96,255,245,1) 0%, rgba(209,255,252,1) 23%);
  --gradient-bar: linear-gradient(89deg, rgba(96,255,245,1) 0%, rgba(209,255,252,1) 23%);
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
}
